In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({
  'dogs': [5, 10, np.nan, 7],
})

df['dogs'].replace(np.nan, 0, regex=True)

0     5.0
1    10.0
2     0.0
3     7.0
Name: dogs, dtype: float64

In [3]:
# Save output CSV
df.to_csv("customer_support_ticket_output.csv", index=False)


print("Output CSV created")

Output CSV created